html, body {
    background-color: #1F2937;
}

* {
    padding: 0;
    margin: 0;
    /*font sets*/
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

header {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 60px;
    padding: 10px 0px;
}

/*
.container {
    display: flex;
    justify-content: center;
}
*/

.square {
    height: 600px;
    width: 600px;
    border: 5px solid black;
    background-color: azure;
}

.group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start; /* Allineamento verticale */
    gap: 20px; /* Spazio tra la griglia e il bottone */
}

button {
    font-weight: bold;
    width: 200px;
    height: 70px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    color: #F5F5F5; /* Bianco leggermente spento */
    background-color: #2C3E50; /* Navy scuro simile al fondo dell'immagine */
    border: 4px solid #1A252F; /* Bordo ancora più scuro */
    border-radius: 10px;
    box-shadow: -4px 4px 0 #1A252F, -6px 6px 8px rgba(0, 0, 0, 0.2); /* Ombra fumetto */
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
}

button:hover {
    background-color: #34495E; /* Navy leggermente più chiaro per hover */
    transform: scale(1.05) translate(-2px, -2px);
    box-shadow: -3px 3px 0 #1A252F, -5px 5px 10px rgba(0, 0, 0, 0.2);
}

button:active {
    background-color: #1E2D3A; /* Navy scuro per effetto cliccato */
    transform: scale(0.95) translate(2px, 2px);
    box-shadow: -2px 2px 0 #1A252F;
}


footer {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.rightButtons {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.leftButtons {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

